In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("ventas.csv")

In [3]:
df

   id_venta   producto  precio
0         1     Laptop    1200
1         2      Mouse      25
2         3    Teclado      80
3         4    Monitor     300
4         5  Audífonos     150

In [7]:
df.query("id_venta>3")

   id_venta   producto  precio
3         4    Monitor     300
4         5  Audífonos     150

In [8]:
df.query('id_venta >= 3 and  precio < 1000')

   id_venta   producto  precio
2         3    Teclado      80
3         4    Monitor     300
4         5  Audífonos     150

In [9]:
df.query('precio between 80 and 500')

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)